<div class="container">
  <div class="columns is-multiline">
    <div class="column is-8 is-offset-2">
      <div class="content is-size-4">
        <h1 class="title has-text-centered has-text-weight-bold is-italic"> <%= @recipe.title %> </h1>
      </div>

      <%= render @recipe %>

    </div>
  </div>
</div>
