<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="title has-text-centered content is-size-3">
        <h3><%= @user.username %></h3>
        <p><%= @user.email %></p>
      </div>
    </div>
  </div>
</div>
