<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="has-text-centered has-text-weight-bold is-italic content">
        <h1><%= @user.username %></h1>
        <p class="is-size-1"><%= @user.email %></p>
      </div>
    </div>
  </div>
</div>
