    <% if object.errors.any? %>
      <div class="column is-6 is-offset-3">
        <article class="message is-danger">
          <div class="message-body">
            <p><strong><%= pluralize(object.errors.count, "error") %> prohibited from being saved:</strong></p>
            <br>
            <p>
            <% object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </p>
          </div>
        </article>
      </div>
    <% end %>
