// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
  background: url('recipe-collage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=50);
}

.nav.navbar-fixed-top {
  position:fixed;
  top:0;
}

body::before {
  display:block;
  content: '';
  height:40px;
}

.navbar-item {
  color: #261488ea;
  display: block;
  line-height: 1;
  padding: 0.5rem 0.75rem;
  position: relative;
}

.content h1 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 200%;
}

.label {
  color: #1b0303;
  display: block;
  font-size: 2rem;
  font-weight: 600;
}

.label.is-medium {
  color: #1b0303;
  display: block;
  font-size: 2rem;
  font-weight: 1000;
}

::placeholder {
  color: #666;
  font-weight: 400;
}

.card {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #bdcbe0e0;
  background-repeat: no-repeat;
  background-size: contain cover;
  background-position: center;
  border: 1px solid rgb(144, 191, 230);
}

.box {
  background-color: transparent;
}
